In [1]:
import pandas as pd
import numpy as np

In [3]:
country = pd.read_csv("WDI_csv/WDICountry.csv")

In [4]:
country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2010,NaN,NaN,Yes,NaN,NaN,2016.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,NaN,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2017.0,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2017.0,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2017/18",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2017.0,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,NaN,NaN

In [7]:
country.dtypes

Country Code                                          object
Short Name                                            object
Table Name                                            object
Long Name                                             object
2-alpha code                                          object
Currency Unit                                         object
Special Notes                                         object
Region                                                object
Income Group                                          object
WB-2 code                                             object
National accounts base year                           object
National accounts reference year                      object
SNA price valuation                                   object
Lending category                                      object
Other groups                                          object
System of National Accounts                           object
Alternative conversion factor                         object
PPP survey year                                       object
Balance of Payments Manual in use                     object
External debt Reporting status                        object
System of trade                                       object
Government Accounting concept                         object
IMF data dissemination standard                       object
Latest population census                              object
Latest household survey                               object
Source of most recent Income and expenditure data     object
Vital registration complete                           object
Latest agricultural census                            object
Latest industrial data                               float64
Latest trade data                                    float64
Unnamed: 30                                          float64
dtype: object

In [8]:
country_series = pd.read_csv("WDI_csv/WDICountry-Series.csv")

In [9]:
country_series.head()

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...,NaN
1,ABW,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014),NaN
2,ABW,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014),NaN
3,ABW,IT.CEL.SETS,Servicio di Telecomunicacion di Aruba (SETAR)....,NaN
4,ABW,IT.CEL.SETS.P2,Servicio di Telecomunicacion di Aruba (SETAR)....,NaN

In [10]:
wdi_data = pd.read_csv("WDI_csv/WDIData.csv")

In [11]:
wdi_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.939242,95.962166,96.352930,95.997833,96.649916,96.834184,97.003974,NaN,NaN,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN,NaN

In [13]:
wdi_data["Indicator Name"].value_counts()

Merchandise exports to low- and middle-income economies in Sub-Saharan Africa (% of total merchandise exports)    264
Source data assessment of statistical capacity (scale 0 - 100)                                                    264
People using at least basic drinking water services (% of population)                                             264
Informal employment, male (% of total non-agricultural employment)                                                264
Secure Internet servers (per 1 million people)                                                                    264
                                                                                                                 ...
Specialist surgical workforce (per 100,000 population)                                                            264
Coverage of social insurance programs in 2nd quintile (% of population)                                           264
Gross capital formation (constant LCU)                                                                            264
IDA resource allocation index (1=low to 6=high)                                                                   264
Population, female (% of total population)                                                                        264
Name: Indicator Name, Length: 1429, dtype: int64