## Functions

In [1]:
def list2string(lst):
    string = ' '.join(lst)
    return string

to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']

list2string(to_string)

'John was a man of many talents'

In [2]:
new_list = ['Ana', 'will', 'find', 'an', 'amazing', 'job']

In [3]:
list2string(new_list)

'Ana will find an amazing job'

### Global vs. Local Variables

it is important to keep track of which variables are global and which variables are local. 

- Global variables: maintain their value outside the functions.
- Local variables: maintain their value within the function where they are defined

In [5]:
a = 9

def multiply(number, multiplier = 2):
    b = number * multiplier
    return b

c = multiply(a)

print(a, c)

9 18

In [6]:
multiply(5)

10

In [8]:
print(b)

NameError: name 'b' is not defined

In [9]:
multiply(100, multiplier = 5)

500

### Applying Functions to Data Frames

In [10]:
import pandas as pd

In [13]:
data = pd.read_csv('../week_1/data/vehicles_messy.csv')

C:\Anaconda\envs\new_env\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [15]:
def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

In [16]:
mean_df = get_means(data)

mean_df

             Column          Mean
0         barrels08     17.532506
1        barrelsA08      0.216169
2         charge120      0.000000
3         charge240      0.023531
4            city08     17.941389
5           city08U      4.042737
6           cityA08      0.520149
7          cityA08U      0.327163
8            cityCD      0.000406
9             cityE      0.184790
10           cityUF      0.000706
11              co2     61.503713
12             co2A      5.349919
13  co2TailpipeAGpm     17.771433
14   co2TailpipeGpm    473.179736
15           comb08     20.195809
16          comb08U      4.549751
17          combA08      0.581191
18         combA08U      0.359027
19            combE      0.190575
20       combinedCD      0.000335
21       combinedUF      0.000691
22        cylinders      5.737990
23            displ      3.318180
24            engId   8860.308961
25          feScore     -0.035145
26       fuelCost08   1882.060090
27      fuelCostA08     79.070105
28         ghgScore     -0.037206
29        ghgScoreA     -0.929630
30        highway08     24.104881
31       highway08U      5.438467
32       highwayA08      0.686891
33      highwayA08U      0.418698
34        highwayCD      0.000233
35         highwayE      0.198247
36        highwayUF      0.000673
37              hlv      2.026214
38              hpv     10.424332
39               id  19019.286235
40              lv2      1.849219
41              lv4      6.165658
42      phevBlended      0.000951
43              pv2     13.696113
44              pv4     33.769125
45            range      0.392675
46        rangeCity      0.352618
47       rangeCityA      0.036800
48         rangeHwy      0.343399
49        rangeHwyA      0.033475
50            UCity     22.587229
51           UCityA      0.652380
52         UHighway     33.619221
53        UHighwayA      0.933845
54             year   2000.064398
55     youSaveSpend  -2658.999022
56       charge240b      0.004360
57         phevCity      0.069313
58          phevHwy      0.068203
59         phevComb      0.068573